
.formElement__legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  margin: 0 auto;
  text-align: center;
}

.formElement__paragraph {
  color: teal;
  margin-bottom: 30px;
  text-align: center;
}

.formElement__labelText {
  display: inline-block;
  width: 150px;
  font-size: 24px;
}

.formElement__field {
  max-width: 350px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.flexBox {
  display: flex;
}

.formElement__button {
  width: 150px;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 10px;
  margin: 0 auto;

}

.formElement__button:hover {
  background-color: hsl(180, 100%, 30%);
}

