html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

#root {
  background-image: url("../../public/finance-ga33d0913e_1920.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  flex-basis: 600px;
  padding: 20px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0px 0px 61px 9px white;
}
