html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-image: url("/public/finance-ga33d0913e_1920.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}